<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.android.chrome"/>
        <package android:name="com.google.android.youtube"/>
        <package android:name="com.android.vending"/>
        <package android:name="com.android.settings"/>
        <package android:name="com.google.android.googlequicksearchbox"/>
        <package android:name="com.openai.chatgpt"/>
        <package android:name="com.google.android.gm"/>
        <package android:name="com.facebook.katana"/>
    </queries>

    <application
        android:theme="@style/AppTheme"
        android:label="Alpha Hub"
        android:allowBackup="false"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- AlphaTriggerService remains in source for rollback, but is not declared or started. -->
    </application>
</manifest>
